<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>

</style>

<body>
  <div class="practice1">
    
<h1>Check-in inspection {{ inspection_date }}</h1>
<h2>GENERAL INFORMATION</h2>
<p>{{property name}}</p>
<h3>{{property address}}</h3>
<ul>
  <li>House 3,5<span>Total area:56.0m</span></li>
  <li>Building XY<span>Constructed in :2000</span></li>
  <li>3.0 rooms<span>Reference:XYZ</span></li>
  <li>2 bedrooms</li>
</ul>
<p>AGENT</p>
<h3>{{Agent Name}}</h3>
<ul>
  <li>Hauptgasse 21</li>
  <li>3280 Murten</li>
  <mailto:li>mutlu.me@hotmail.com</li>
</ul>
<p>{{objects}}</p>
<h3>The tenant(s)acknowledge(s) that the premises are given to him/her/them clean and tidy.with the exception of designated points below:</h3>

<p>WWWW</p>
<h3>Evereything is checked and is in a good condition</h3>

<p>{{object details}}</p>
<h3>Evereything is checked and is in a good condition</h3>

<h3>Evereything is checked and is in a good condition</h3>
  </div>
</body>
</html>